# OS files #
############
._*
*.DS_Store
Thumbs.db


# Visual studio user files #
############################
*.suo
*.user
*.vsmdi
*.testsettings


# Compiled files #
##################
bin
obj
testresults
*.log


# Temporary Test Projects #
###########################
TestForm