<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UpdateSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="UpdateSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://outliner.pjanssen.nl/services/update_server.php"
                binding="basicHttpBinding" bindingConfiguration="UpdateSoap"
                contract="Service.UpdateSoap" name="UpdateSoap" />
            <endpoint address="http://outliner.pjanssen.nl/services/update_server.php"
                binding="customBinding" bindingConfiguration="UpdateSoap12"
                contract="Service.UpdateSoap" name="UpdateSoap12" />
        </client>
    </system.serviceModel>
</configuration>